.Section4-card{
display: inline-flex;
padding: 33px 44px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 16px;
background: var(--light-color);
margin-left: 150px;
margin-top: 30px;
}
.Section4-card1{
display: flex;
width: 1050px;
height: 300px;
justify-content: space-between;
align-items: center;
}
h3.Card-text{
color: var(--text-color);
font-family: Outfit;
font-size: 38px;
font-style: normal;
font-weight: 200;
line-height: 120%; /* 57.6px */
margin-left: 10px;
}
p.Card-text1{
width: 500px;
color:  var(--text-color);
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 30px */
margin-left: 10px;
}
.button-text{
display: flex;
padding: 16px 24px;
align-items: flex-start;
gap: 10px;
margin-top: 10px;
}
button.Section4-button{
    border: 0;
    border-radius: 2000px;
    background-color: var(--asidebtn-color);
    height: 30px;
    color: var(--light-color);
    padding: 10px;
}
.button-link{
    color: var(--text-color);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 10px;
}
.polygon{
    display: flex;
    color: var(--text-color);
}
@media only screen and (max-width: 800px) {
}
