*{
   background-color: var(--primary-color);
}
div.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px 20px 113px ;
    align-items: center;
    width: 1198.688;
    font-size: 20px;
    background-color: var(--primary-color);
}
.aside-1, .same1 > a{
    display: flex;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
}
.aside-2{
    display: flex;
    gap: 32px;

}
.signup-btn > button{
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border: 0px;
    border-radius: 2000px;
    color: var(--text-color);
    background-color: var(--btnnav-color) ;
    cursor: pointer;;
}
.login-btn{
    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: flex-start;
    gap: 10px;
    color: var(--text-color);
}
.moon{
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    border: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}